$text-color-main: #002358;
$text-color-main-second: #214a88;
$border-main: 1px solid #cee1ff;
$text-color-bright: #0060ff;
$light-transition: all 0.1s ease-out;
$change-positive: #00b053;
$change-negative: #eb0a25;
